.modal-backdrop {
    transition: all 500ms;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 800;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-window {
    transition: all 500ms;
    width: 800px;
    max-width: calc(100% - 1rem);
    background-color: black;
    color: white;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid #333;

    & .head {
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.1);
    }

    & .body {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.modal-x {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    padding: 0 1rem;
}