.browse-results {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.browse-result {
    display: grid;
    grid-template-columns: 100px 1fr;
    color: #ddd;
    background-color: #222;
    border-radius: 1rem;
    min-height: 200px;
    overflow: hidden;
    user-select: none;

    text-decoration: none;
    

    & > .image {
        overflow: hidden;

        & > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    & > .info {
        & h3 {
            background-color: rgb(85, 158, 158);
            color: #222;
            padding: .5rem;
        }

        & > .info-info {
            padding: .5rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            & .price {
                font-size: 1.5rem;
                font-weight: bold;
            }

            & .desc {
                font-size: .8rem;
                font-style: italic;
            }
        }
    }

    transition: all 100ms linear;
    &:hover {
        transform: scale(1.02);
    }
}

.browse-page-pagination {
    margin: 1rem 0;
    font-size: 2rem;

    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 1rem;

        & > *:nth-child(2) {
            text-align: center;
        }

        & > *:nth-child(3) {
            text-align: right;
        }

        & button {
            background-color: rgba(255, 255, 255, 0.2);
            border: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            border-radius: 5rem;

            & img {
                width: 30px;
            }
        }
    }
}

@media (min-width: 650px) {
    .browse-results {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1150px) {
    .browse-results {
        grid-template-columns: 1fr 1fr 1fr;
    }
}